*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #0d192c;
    

}
.container{
    width: 350px;
  height: 596px;
  background-color: #15263f;
  padding: 24px 24px 32px;
  /* margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;

}
.julespoto{
    width: 33px;
  height: 33px;
  flex-grow: 0;
  margin: 0 16px 0 0;
  border: solid 1px #fff;
  border-radius: 15px;


}
.mainpoto{
    width: 302px;
  height: 302px;
  margin: 0 0 24px;
  border-radius: 8px;
}
h1{
    width: 302px;
  height: 28px;
  margin: 24px 0 16px;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  color: #fff;
}
h1:hover{
    color: #00fff8;
    cursor: pointer;
    transition: 0.3s;
}
h2{
    width: 302px;
  height: 52px;
  margin: 16px 0 24px;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 300;
  color: #8bacd9;
}
.span1{
    width: 75px;
    height: 20px;
    margin: 0 0 0 6.5px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #00fff8; 
}
.span2{
    width: 73px;
  height: 20px;
  margin: 0 0 0 7.7px;
  font-family: Outfit;
  font-size: 16px;
  text-align: left;
  color: #8bacd9;
}
.creation{
    /* width: 81px; */
    height: 20px;
    margin: 0 5px 0 0;
    font-family: Outfit;
    font-size: 16px;
    text-align: left;
    color: #8bacd9;
  
}
.span3{
    width: 93px;
    height: 20px;
    margin: 0 0 0 5px;
    font-family: Outfit;
    font-size: 16px;
    text-align: left;
    color: #fff;
}
.basic{
    display: flex;
    justify-content: space-between;
}
.flexcreate{
    display: flex;
    align-items: center;
    
}
.recktangle{
    width: 302px;
  height: 1px;
  margin: 24px 0 16px;
  background-color: #2e405a;
}
.basic-info2{
    display: flex;
    align-items: center;
}
.basic-info{
    display: flex;
    align-items: center;
}
.span3:hover{
    color: #00fff8;
    cursor: pointer;
    transition: 0.3s;
}